# Data Science Notebook

## Introduction
In this notebook, we will explore basic concepts of Data Science using Markdown and Python code.

## Data Science Languages
- Python
- R
- SQL
- Julia
- Scala

## Data Science Libraries
- Pandas
- NumPy
- Matplotlib
- Seaborn
- Scikit-learn

## Data Science Tools
| Tool             | Description                             |
|------------------|-----------------------------------------|
| Jupyter Notebook | Write and run code interactively        |
| RStudio          | Development environment for R           |
| Apache Spark     | Big data processing framework           |

## Examples of Arithmetic Expressions
- 3 + 4 = 7
- 5 * 2 = 10
- 10 / 2 = 5
- 8 - 3 = 5
- (2 + 3) * 4 = 20

In [ ]:
# This code multiplies two numbers by 2 and adds the results
a = 4
b = 5
result = (a * 2) + (b * 2)
print("The result is:", result)

In [ ]:
# This code converts minutes into hours
minutes = 90
hours = minutes / 60
print("Hours:", hours)

## Objectives of this Notebook
- Learn basic Markdown formatting in Jupyter Notebooks
- Practice arithmetic expressions using Python code
- Understand common tools, languages, and libraries used in Data Science

**Author: Haya Almowash**